langchain
langchain-community
langchain-core

langchain-google-genai
langchain-groq

huggingface_hub
transformers
sentence-transformers

faiss-cpu
chromadb

pypdf
unstructured

tiktoken

python-dotenv

streamlit
fastapi
uvicorn
langgraph
pypdf
beautifulsoup4 
langchain-text-splitters
langchain-chroma